In [1]:
import seaborn as sns
from matplotlib import pyplot as plt
import math
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras import layers
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

C:\Users\sushant\anaconda3\envs\project\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\sushant\anaconda3\envs\project\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\sushant\anaconda3\envs\project\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

Bad key text.latex.unicode in file C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 112 ('text.latex.unicode : False # use "ucs" and "inputenc" LaTeX packages for handling')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key savefig.frameon in file C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 423 ('savefig.frameon : True')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key pgf.debug in file C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 444 ('pgf.debug           : False')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.level in file C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 475 ('verbose.level  : silent      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 476 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.3.3/matplotlibrc.template
or from the matplotlib source distribution
In C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\sushant\anaconda3\envs\project\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
df_train = pd.read_csv("archive/TrainingData.csv")
df_val = pd.read_csv("archive/ValidationData.csv")

In [3]:
df_train.shape

(19937, 529)

In [4]:
df_val.shape

(1111, 529)

In [5]:
df_train.head()

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP520,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,100,100,100,100,100,100,100,100,100,100,...,100,-7541.2643,4.864921e+06,2,1,106,2,2,23,1371713733
1,100,100,100,100,100,100,100,100,100,100,...,100,-7536.6212,4.864934e+06,2,1,106,2,2,23,1371713691
2,100,100,100,100,100,100,100,-97,100,100,...,100,-7519.1524,4.864950e+06,2,1,103,2,2,23,1371714095
3,100,100,100,100,100,100,100,100,100,100,...,100,-7524.5704,4.864934e+06,2,1,102,2,2,23,1371713807
4,100,100,100,100,100,100,100,100,100,100,...,100,-7632.1436,4.864982e+06,0,0,122,2,11,13,1369909710

In [6]:
df_train.columns

Index(['WAP001', 'WAP002', 'WAP003', 'WAP004', 'WAP005', 'WAP006', 'WAP007',
       'WAP008', 'WAP009', 'WAP010',
       ...
       'WAP520', 'LONGITUDE', 'LATITUDE', 'FLOOR', 'BUILDINGID', 'SPACEID',
       'RELATIVEPOSITION', 'USERID', 'PHONEID', 'TIMESTAMP'],
      dtype='object', length=529)

In [7]:
df = pd.concat([df_train, df_val])

In [8]:
df.iloc[:,-9:]

,LONGITUDE,LATITUDE,FLOOR,BUILDINGID,SPACEID,RELATIVEPOSITION,USERID,PHONEID,TIMESTAMP
0,-7541.264300,4.864921e+06,2,1,106,2,2,23,1371713733
1,-7536.621200,4.864934e+06,2,1,106,2,2,23,1371713691
2,-7519.152400,4.864950e+06,2,1,103,2,2,23,1371714095
3,-7524.570400,4.864934e+06,2,1,102,2,2,23,1371713807
4,-7632.143600,4.864982e+06,0,0,122,2,11,13,1369909710
...,...,...,...,...,...,...,...,...,...
1106,-7317.344231,4.864796e+06,3,2,0,0,0,13,1381156711
1107,-7313.731120,4.864792e+06,3,2,0,0,0,13,1381156730
1108,-7637.535798,4.864903e+06,0,0,0,0,0,13,1381247781
1109,-7636.654005,4.864905e+06,0,0,0,0,0,13,1381247807
1110,-7637.944120,4.864904e+06,0,0,0,0,0,13,1381247836

In [9]:
print(f"there are {df['USERID'].nunique()} different users.")
print(f"list of user ids: {df['USERID'].unique()}\n")
print(f"entries per user:\n{df['USERID'].value_counts()}")

there are 19 different users.
list of user ids: [ 2 11  3  4  5  6  7  8  9 16 10 12 13 14 15  1 17 18  0]

entries per user:
11    4516
1     2737
14    1596
7     1383
0     1111
2     1091
9     1066
16    1032
6      980
10     913
13     841
17     724
5      610
8      507
15     498
18     440
12     437
4      374
3      192
Name: USERID, dtype: int64

In [10]:
df.groupby('USERID')['PHONEID'].unique()

USERID
0     [0, 13, 2, 12, 20, 21, 4, 9, 15, 5, 14]
1                                        [14]
2                                        [23]
3                                        [16]
4                                        [18]
5                                         [3]
6                                        [19]
7                                         [6]
8                                         [1]
9                                        [14]
10                                        [8]
11                                       [13]
12                                       [24]
13                                       [17]
14                                        [7]
15                                       [11]
16                                       [14]
17                                       [22]
18                                       [10]
Name: PHONEID, dtype: object

In [11]:
df.groupby('PHONEID')['USERID'].unique()

PHONEID
0               [0]
1               [8]
2               [0]
3               [5]
4               [0]
5               [0]
6               [7]
7              [14]
8              [10]
9               [0]
10             [18]
11             [15]
12              [0]
13          [11, 0]
14    [9, 16, 1, 0]
15              [0]
16              [3]
17             [13]
18              [4]
19              [6]
20              [0]
21              [0]
22             [17]
23              [2]
24             [12]
Name: USERID, dtype: object

In [12]:
df.RELATIVEPOSITION.unique()

array([2, 1, 0], dtype=int64)

In [13]:
# sns.countplot(x = 'RELATIVEPOSITION', data = df)

In [14]:
print(f"no of floors in each building:\n{df.groupby('BUILDINGID')['FLOOR'].unique()}")

no of floors in each building:
BUILDINGID
0       [0, 2, 1, 3]
1       [2, 0, 1, 3]
2    [3, 2, 4, 1, 0]
Name: FLOOR, dtype: object

In [15]:
# sns.countplot(x = 'FLOOR', data = df)

In [16]:
df_sorted = df.sort_values(by=['TIMESTAMP'])

In [17]:
temp = df_sorted.groupby('USERID')['BUILDINGID'].unique()
print(f"list of buildings visited by each user:\n{temp}")

list of buildings visited by each user:
USERID
0     [0, 1, 2]
1           [0]
2        [1, 2]
3           [2]
4           [1]
5           [2]
6           [2]
7        [1, 2]
8        [1, 2]
9        [1, 2]
10       [1, 2]
11    [0, 1, 2]
12          [2]
13       [1, 2]
14       [1, 2]
15          [2]
16       [1, 2]
17       [1, 2]
18       [1, 2]
Name: BUILDINGID, dtype: object

In [18]:
buil0 = df_sorted[df_sorted["BUILDINGID"] == 0]

In [19]:
buil0.groupby('FLOOR')["USERID"].unique()

FLOOR
0    [11, 1, 0]
1    [11, 1, 0]
2    [11, 1, 0]
3    [11, 1, 0]
Name: USERID, dtype: object

In [20]:
# b0f0 = buil0[buil0['FLOOR'] == 0]
# sns.scatterplot(x = 'LATITUDE', y = 'LONGITUDE',hue = 'RELATIVEPOSITION', data = b0f0)

In [21]:
# b0f1 = buil0[buil0['FLOOR'] == 1]
# sns.scatterplot(x = 'LATITUDE', y = 'LONGITUDE',hue = 'RELATIVEPOSITION', data = b0f1)

In [22]:
# b0f2 = buil0[buil0['FLOOR'] == 2]
# sns.scatterplot(x = 'LATITUDE', y = 'LONGITUDE',hue = 'RELATIVEPOSITION', data = b0f2)

In [23]:
# b0f3 = buil0[buil0['FLOOR'] == 3]
# sns.scatterplot(x = 'LATITUDE', y = 'LONGITUDE',hue = 'RELATIVEPOSITION', data = b0f3)

In [24]:
buil1 = df_sorted[df_sorted["BUILDINGID"] == 1]

In [25]:
# b1f0 = buil1[buil1['FLOOR'] == 0]
# sns.scatterplot(x = 'LATITUDE', y = 'LONGITUDE',hue = 'RELATIVEPOSITION', data = b1f0)

In [26]:
# b1f1 = buil1[buil1['FLOOR'] == 1]
# sns.scatterplot(x = 'LATITUDE', y = 'LONGITUDE',hue = 'RELATIVEPOSITION', data = b1f1)

In [27]:
df_train.drop(columns = ["RELATIVEPOSITION", "USERID", "PHONEID", "TIMESTAMP"], inplace=True)
df_val.drop(columns = ["RELATIVEPOSITION", "USERID", "PHONEID", "TIMESTAMP"], inplace=True)

In [28]:
def normalize(x, xmin, xmax, a, b):
    numerator = x - xmin
    denominator = xmax - xmin
    multiplier = b - a
    ans = (numerator/denominator)*multiplier + a
    return ans

In [29]:
sig_min = -104
sig_max = 0
tar_min = 0.25
tar_max = 1.0
no_sig = 100
def normalize_wifi(num):
    ans = 0
    num = float(num)
    if math.isclose(num, no_sig, rel_tol=1e-3):
        return 0
    else:
        ans = normalize(num, sig_min, sig_max, tar_min, tar_max)
        return ans

In [32]:
wifi_cells_train = df_train.columns[:519]
wifi_cells_val = df_val.columns[:519]

In [33]:
# Normalize WiFi values
for i in wifi_cells_train:
    df_train[i] = df_train[i].apply(normalize_wifi)
    
for i in wifi_cells_val:
    df_val[i] = df_val[i].apply(normalize_wifi)

In [34]:
lat_min = 4864745.7450159714
lat_max = 4865017.3646842018
tarmin = 0
tarmax = 1
def normalize_lat(num):
    num = float(num)
    ans = normalize(num, lat_min, lat_max, tarmin, tarmax)
    return ans

In [35]:
long_min = -7695.9387549299299000
long_max = -7299.786516730871000
tarmin = 0
tarmax = 1
def normalize_long(num):
    num = float(num)
    ans = normalize(num, long_min, long_max, tarmin, tarmax)
    return ans

In [36]:
df_train["LATITUDE"] = df_train["LATITUDE"].apply(normalize_lat)
df_train["LONGITUDE"] = df_train["LONGITUDE"].apply(normalize_long)

df_val["LATITUDE"] = df_val["LATITUDE"].apply(normalize_lat)
df_val["LONGITUDE"] = df_val["LONGITUDE"].apply(normalize_long)

In [37]:
X_train = df_train[wifi_cells_train]

X_val = df_val[wifi_cells_val]

In [38]:
X_train

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP510,WAP511,WAP512,WAP513,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519
0,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0,0,0.0,0.0,0.0,0.300481,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19932,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19933,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19934,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19935,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19936,0.0,0.0,0,0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
X_val

,WAP001,WAP002,WAP003,WAP004,WAP005,WAP006,WAP007,WAP008,WAP009,WAP010,...,WAP510,WAP511,WAP512,WAP513,WAP514,WAP515,WAP516,WAP517,WAP518,WAP519
0,0.0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,0.0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,0.0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1107,0.0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1108,0.0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1109,0.0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1110,0.0,0,0.0,0.0,0,0,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
y_train = df_train[["LATITUDE", "LONGITUDE", "BUILDINGID", "FLOOR"]]
y_val = df_val[["LATITUDE", "LONGITUDE", "BUILDINGID", "FLOOR"]]

In [41]:
y_train

       LATITUDE  LONGITUDE  BUILDINGID  FLOOR
0      0.644405   0.390442           1      2
1      0.693912   0.402162           1      2
2      0.750267   0.446259           1      2
3      0.693425   0.432582           1      2
4      0.870600   0.161037           0      0
...         ...        ...         ...    ...
19932  0.474823   0.531286           1      3
19933  0.332490   0.770709           2      1
19934  0.528482   0.452092           1      3
19935  0.552356   0.400394           1      3
19936  0.560026   0.403312           1      3

[19937 rows x 4 columns]

In [42]:
y_val

      LATITUDE  LONGITUDE  BUILDINGID  FLOOR
0     0.529851   0.454426           1      1
1     0.346055   0.787757           2      4
2     0.371066   0.811902           2      4
3     0.357427   0.833301           2      4
4     0.650373   0.137421           0      2
...        ...        ...         ...    ...
1106  0.183290   0.955679           2      3
1107  0.170527   0.964800           2      3
1108  0.579798   0.147426           0      0
1109  0.586080   0.149651           0      0
1110  0.580926   0.146395           0      0

[1111 rows x 4 columns]

In [43]:
y_train.head()

   LATITUDE  LONGITUDE  BUILDINGID  FLOOR
0  0.644405   0.390442           1      2
1  0.693912   0.402162           1      2
2  0.750267   0.446259           1      2
3  0.693425   0.432582           1      2
4  0.870600   0.161037           0      0

In [44]:
y_lat_train = y_train.LATITUDE
y_long_train = y_train.LONGITUDE
y_building_train = y_train.BUILDINGID
y_floor_train = y_train.FLOOR
y_floor_train = y_train.FLOOR

In [45]:
# RANDOM FOREST Model



import joblib
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.multioutput import MultiOutputRegressor, MultiOutputClassifier

# Create Random Forest Regressors and Classifiers
rfc = RandomForestClassifier(n_estimators=100, random_state=42)
rfr = RandomForestRegressor(n_estimators=100, random_state=42)

# Create MultiOutput Regressor and Classifier
mtl_rfr = MultiOutputRegressor(rfr)
mtl_rfc = MultiOutputClassifier(rfc)

# Train model
mtl_rfr.fit(X_train, y_train.iloc[:,:2])
mtl_rfc.fit(X_train, y_train.iloc[:,2:])


# Save MultiOutputRegressor and MultiOutputClassifier models
joblib.dump(mtl_rfr, 'mtl_rfr_model.pkl')
joblib.dump(mtl_rfc, 'mtl_rfc_model.pkl')

# Load MultiOutputRegressor and MultiOutputClassifier models
loaded_mtl_rfr = joblib.load('mtl_rfr_model.pkl')
loaded_mtl_rfc = joblib.load('mtl_rfc_model.pkl')

In [46]:
print(len(df_train['SPACEID'].unique()))
print(df_train.shape)

123
(19937, 525)

In [47]:
mtl_rfc.predict(X_val)[0]

array([1, 0], dtype=int64)

In [48]:
# Predict on new data
reg_out = mtl_rfr.predict(X_val)
clf_out = mtl_rfc.predict(X_val)

In [49]:
pred_building = [x[0] for x in clf_out]
pred_floor = [x[1] for x in clf_out]

pred_lat = [x[0] for x in reg_out]
pred_long = [x[1] for x in reg_out]

In [50]:
# pip install --upgrade scikit-learn

In [51]:
from sklearn.metrics import classification_report
from sklearn.metrics import ConfusionMatrixDisplay

print("Classification report of Building Prediction")

print()

print(classification_report(y_val.BUILDINGID, pred_building))
print()
print("Classification report of Floor Prediction")

print()

print(classification_report(y_val.FLOOR, pred_floor))

Classification report of Building Prediction

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       536
           1       1.00      1.00      1.00       307
           2       1.00      1.00      1.00       268

    accuracy                           1.00      1111
   macro avg       1.00      1.00      1.00      1111
weighted avg       1.00      1.00      1.00      1111


Classification report of Floor Prediction

              precision    recall  f1-score   support

           0       0.94      0.88      0.91       132
           1       0.96      0.88      0.92       462
           2       0.84      0.96      0.89       306
           3       0.90      0.96      0.93       172
           4       0.97      0.74      0.84        39

    accuracy                           0.91      1111
   macro avg       0.92      0.88      0.90      1111
weighted avg       0.92      0.91      0.91      1111

In [52]:
from sklearn.metrics import mean_squared_error

print("MSE of latitude Prediction")

print()

print(mean_squared_error(y_val.LATITUDE, pred_lat))

print()

print("MSE of longitude Prediction")

print()

print(mean_squared_error(y_val.LONGITUDE, pred_long))

MSE of latitude Prediction

0.0026628472543261477

MSE of longitude Prediction

0.0012075448940305589

In [53]:
# SVM model
from sklearn.svm import SVC, SVR
import joblib
svr = SVR()
svc = SVC()

mtl_svr = MultiOutputRegressor(svr)
mtl_svc = MultiOutputClassifier(svc)

# Train model

mtl_svr.fit(X_train, y_train.iloc[:,:2])
mtl_svc.fit(X_train, y_train.iloc[:,2:])


# Save MultiOutputRegressor and MultiOutputClassifier models
joblib.dump(mtl_svr, 'mtl_svr_model.pkl')
joblib.dump(mtl_svc, 'mtl_svc_model.pkl')

# Load MultiOutputRegressor and MultiOutputClassifier models
loaded_mtl_svr = joblib.load('mtl_svr_model.pkl')
loaded_mtl_svc = joblib.load('mtl_svc_model.pkl')

In [54]:
reg_out = mtl_svr.predict(X_val)
clf_out = mtl_svc.predict(X_val)

In [55]:
pred_building = [x[0] for x in clf_out]
pred_floor = [x[1] for x in clf_out]

pred_lat = [x[0] for x in reg_out]
pred_long = [x[1] for x in reg_out]

In [56]:
from sklearn.metrics import classification_report, ConfusionMatrixDisplay

print("Classification report of Building Prediction")

print()

print(classification_report(y_val.BUILDINGID, pred_building))
print()
print("Classification report of Floor Prediction")

print()

print(classification_report(y_val.FLOOR, pred_floor))

Classification report of Building Prediction

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       536
           1       0.99      1.00      1.00       307
           2       1.00      1.00      1.00       268

    accuracy                           1.00      1111
   macro avg       1.00      1.00      1.00      1111
weighted avg       1.00      1.00      1.00      1111


Classification report of Floor Prediction

              precision    recall  f1-score   support

           0       0.91      0.89      0.90       132
           1       0.96      0.88      0.92       462
           2       0.84      0.93      0.88       306
           3       0.88      0.93      0.90       172
           4       0.88      0.77      0.82        39

    accuracy                           0.90      1111
   macro avg       0.89      0.88      0.88      1111
weighted avg       0.90      0.90      0.90      1111

In [57]:
from sklearn.metrics import mean_squared_error

print("MSE of latitude Prediction")

print()

print(mean_squared_error(y_val.LATITUDE, pred_lat))

print()

print("MSE of longitude Prediction")

print()

print(mean_squared_error(y_val.LONGITUDE, pred_long))

MSE of latitude Prediction

0.004827203970158793

MSE of longitude Prediction

0.005463625762101787

In [58]:
# pip install xgboost

In [59]:
# XG boost model

import xgboost as xg
import joblib

# Instantiation
xgb_r = xg.XGBRegressor(objective ='reg:linear',
                  n_estimators = 10, seed = 123)

xgb_c = xg.XGBClassifier()

mtl_xgbr = MultiOutputRegressor(xgb_r)
mtl_xgbc = MultiOutputClassifier(xgb_c)


mtl_xgbr.fit(X_train, y_train.iloc[:,:2])
mtl_xgbc.fit(X_train, y_train.iloc[:,2:])

# Save MultiOutputRegressor and MultiOutputClassifier models
joblib.dump(mtl_xgbr, 'mtl_xgbr_model.pkl')
joblib.dump(mtl_svc, 'mtl_xgbc_model.pkl')

# Load MultiOutputRegressor and MultiOutputClassifier models
loaded_mtl_xgbr = joblib.load('mtl_xgbr_model.pkl')
loaded_mtl_xgbc = joblib.load('mtl_xgbc_model.pkl')

[13:18:37] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\objective\regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.
[13:18:38] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0fdc6d574b9c0d168-1\xgboost\xgboost-ci-windows\src\objective\regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

In [60]:
reg_out = mtl_xgbr.predict(X_val)
clf_out = mtl_xgbc.predict(X_val)

In [61]:
pred_building = [x[0] for x in clf_out]
pred_floor = [x[1] for x in clf_out]

pred_lat = [x[0] for x in reg_out]
pred_long = [x[1] for x in reg_out]

In [62]:
from sklearn.metrics import classification_report, ConfusionMatrixDisplay

print("Classification report of Building Prediction")

print()

print(classification_report(y_val.BUILDINGID, pred_building))
print()
print("Classification report of Floor Prediction")

print()

print(classification_report(y_val.FLOOR, pred_floor))

Classification report of Building Prediction

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       536
           1       0.99      1.00      1.00       307
           2       1.00      1.00      1.00       268

    accuracy                           1.00      1111
   macro avg       1.00      1.00      1.00      1111
weighted avg       1.00      1.00      1.00      1111


Classification report of Floor Prediction

              precision    recall  f1-score   support

           0       0.92      0.93      0.92       132
           1       0.98      0.86      0.91       462
           2       0.84      0.95      0.89       306
           3       0.87      0.96      0.91       172
           4       1.00      0.82      0.90        39

    accuracy                           0.91      1111
   macro avg       0.92      0.90      0.91      1111
weighted avg       0.92      0.91      0.91      1111

In [63]:
from sklearn.metrics import mean_squared_error

print("MSE of latitude Prediction")

print()

print(mean_squared_error(y_val.LATITUDE, pred_lat))

print()

print("MSE of longitude Prediction")

print()

print(mean_squared_error(y_val.LONGITUDE, pred_long))

MSE of latitude Prediction

0.007328629803346987

MSE of longitude Prediction

0.008228976963822692

In [64]:
# pip install joblib